body {
  font-family: 'Montserrat';
}

.navbar {
  background-color: #171717;
  border-bottom: 1px solid #333;
}

.nav-item {
  margin-right: 24px;
  font-weight: 200;
}

.nav-item.active a {
  color: #FF7C09 !important;
  font-weight: 600;
}

.nav-link span {
  color: #FF7C09;
  font-weight: 600;
}

/* Carousel */
.carousel {
  height: 450px;
  background-color: #171717;
  color: white;
}

.carousel h1 {
  font-family: 'Lora';
}

.carousel p {
  font-weight: 200;
}


.features h3, .designer h3, .similar-product h3, .cart-header h3, .checkout-modal-success h3 {
  font-family: 'Lora';
  color: #FF7C09;
  font-weight: bold;
}

.features p, .designer p, footer p, .similar-product p, .cart-header p, .checkout-modal-success p {
  font-weight: 200;
  color: #B7B7B7;
}

.figure h5 {
  color: #171717;
}

.figure-img {
  position: relative;
}

.figure-img a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s;
}

.figure-img:hover a {
  opacity: 1;
}

/* Breadcrumb */
.breadcrumb {
  margin-top: 100px;
}

.cart-breadcrumb {
  margin-top: 50px;
}

.product-thumbnail-container {
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 360px;
  padding: 8px;
  margin: auto;
  transform: translateY(-50px);
}

.product-thumbnail-container a:hover {
  text-decoration: none;
}

.btn-product {
  margin: 50px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #EAEAEF;
}

.btn-product .btn {
  display: block;
  margin: 10px 0;
}

.designed-by h5 {
  font-size: 14px;
  font-weight: 200;
  color: #B7B7B7;
  margin-bottom: 20px;
}

.designed-by h4 {
  font-size: 18px;
  color: #171717;
}

.designed-by p {
  font-size: 14px;
  font-weight: 200;
  color: #171717;
}

.designed-by p span {
  color: #B7B7B7;
}


/* Product Description */
.product-description {
  background-color: #F6F7FB;
  height: 350px;
}

.product-description .tab-content {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-top: 0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
}

.product-description .tab-content p {
  font-size: 16px;
  font-weight: 200;
  color: #868686;
  line-height: 28px;
}

.product-review {
  height: 330px;
  overflow: scroll;
}

.product-review h5 {
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 10px;
}

.product-review p {
  font-size: 14px !important;
}


.similar-product {
  margin-top: 180px;
  margin-bottom: 100px;
}


.checkout-detail {
  background-color: #F6F7FB;
  border: 1px solid #EAEAEA;
  color: #171717;
}

.btn-primary{
  background-color:#FF7C09 !important;
}
.text-prim-color{
  text-decoration-color: #FF7C09 !important;
}


.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}